<form action="/chairs" method="post">
  <p>Color: <input type="text" name="color">
  <p>Weight: <input type="text" name="weight">
  <p>Legs: <input type="text" name="legs">
  <p>Style: <input type="text" name="style">
  <input type="submit" value="Make•A•Chair">
</form>


#url long 
#chrome?
#typo ?